body {
  background-color: #032802;
}

h1 {
  color: white;
}

.playingCard {
  font-size: 200px;
  position: absolute;
  height: 181px;
  width: 141px;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
  padding: -10px;
  border-radius: 5px;
  border: 10px solid white;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
}

.row {
  text-align: center;
}

.buttons {
  text-align: center;
}

.btn {
  margin: 20px;
}

.playerSpot {
  margin: 20px 40px;
  display: inline-block;
}

h2 {
  color: white;
}

.deckWell {
  background-color: #175914;
  padding-left: 12px;
  padding-top: 10px;
  height: 212px;
  width: 170px;
  border-radius: 10px;
  border: 2px solid white;
  margin: 0 auto;
  text-align: left;
}

.playerWell {
  width: 500px;
}

.playingCard span {
  top: -71px;
  left: -10px;
  position: relative;
}
